# Keeping them .gitignore files incase we ignore enitre content of folder
!.gitignore

# Files to ignore (avoid Mac OS's .DS_store's)
.DS_Store 
.DS_Store

*.pyc
src/*.pyc
src/irc/*.pyc
src/commands/*.pyc

*.swp
src/*.swp
src/irc/*.swp
src/commands/*.swp

__pycache__/*
src/__pycache__/*
src/irc/__pycache__/*
src/commands/__pycache__/*
